.item {    
    width: 180px;
    height: 85px;
    border: 2px solid black;
    border-radius: 7pt;
    padding: 10px 0px 10px 10px;
    display: inline-block; 
    background-color: #ffffff;
    color: #676363;
    box-shadow: 0 8px 6px -6px black;
}
.item > h1 {
    margin-left: 33px;
    margin-top: 15px;
    font-size: 28px;
}