<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <app-basic-form></app-basic-form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <app-basic-form-strict></app-basic-form-strict>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <app-reactive-form></app-reactive-form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <app-reactive-form-strict></app-reactive-form-strict>
        </div>
    </div>
</div>


<!-- <app-task-list></app-task-list> -->