<h3>Template Form (With Validations)</h3>

<form class="form-inline boxed" (ngSubmit)="onSave(userForm)" #userForm="ngForm">
  <div class="form-group" [ngClass]="{
    'has-error': email.invalid && (email.dirty || email.touched), 
    'has-success': email.valid && (email.dirty || email.touched)
    }">
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" 
    [(ngModel)]="user.email" 
    pattern="[^ @]*@[^ @]*" required #email="ngModel">
  </div>

  <div class="form-group" [ngClass]="{
    'has-error': phone.invalid && (phone.dirty || phone.touched), 
    'has-success': phone.valid && (phone.dirty || phone.touched)
    }">
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" 
    [(ngModel)]="user.phone" 
    required minlength="9" maxlength="9" #phone="ngModel">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Save</button>

</form>

<div>
  User Model:
  <pre>{{user | json}}</pre>Valid:
  <pre>{{userForm.form.valid | json}}</pre>
</div>

<div *ngIf="users.length > 0">
  <ul class="list-group boxed">
    <li class="list-group-item" *ngFor="let u of users">
      Email: {{u.email}}, Phone: {{u.phone}}
    </li>
  </ul>
</div>