<div class="row">
  <div class="col-md-4">
    <h1>Login</h1>
    <hr><br>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
     <div class="form-group">
       <label for="username">Username</label>
       <input type="text" class="form-control" id="username" placeholder="Enter username"  formControlName="username">
     </div>
     <div class="form-group">
       <label for="passwowrd">Password</label>
       <input type="password" class="form-control" id="passwowrd" placeholder="Enter password" formControlName="password">
     </div>
     <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
    </form>
  </div>
</div>