.active-link {
    color: #3636b3;
    font-weight: bold;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 20px;
    margin-left: 20px;
}
ul li:first-child {
    margin-top: 30px;
}

a {
    text-decoration: none;
}