<h3>Advance Reactive Form</h3>
<form [formGroup]="userForm" (ngSubmit)="onSave()">
  <div class="form-group">
    <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" required>
    <span *ngIf="userForm.get('email').touched && userForm.get('email').hasError('required')">
      Email is required
    </span>
    <span *ngIf="userForm.get('email').touched && userForm.get('email').hasError('unique')">
      Email is existing
    </span>
  </div>

  <div class="form-group">
    <input type="number" class="form-control" id="phone" placeholder="Phone" formControlName="phone" required>
    <span *ngIf="userForm.get('phone').touched && userForm.get('phone').invalid">
      Invalid Phone
    </span>
  </div>

  <div class="form-group" formGroupName="name">
    <input type="text" class="form-control" id="first" placeholder="First" formControlName="first">
  </div>

  <div class="form-group" formGroupName="name">
    <input type="text" class="form-control" id="last" placeholder="Last" formControlName="last">
  </div>

  <button type="button" class="btn" (click)="updatePhone()">IN Phone</button>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
</form>

<div style="margin-top: 10px;">
  <pre>Form Valid? {{userForm.valid | json}} <br/>{{userForm.value | json}}
  <br/>{{userForm.status | json}}</pre>
</div>