/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.boxed {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 1px 10px 1px #ccc;     
}
.has-error {
    border-color: red;
}