<div class="title">Chat</div>
<div class="chat-desc-container scrollbar">
  <div class="{{ chat.sender.id === currentUser.id ? 'chat-inbox' : 'chat-outbox'}}" *ngFor="let chat of messages;">
    <div class="name">{{chat.sender.name}}</div>
    <div class="msg">
      {{chat.message}}
    </div>
    <div class="time">{{chat.created | date}}</div>
  </div>
</div>
<form #sendMsg="ngForm" (ngSubmit)="onSubmit($event)">
  <div class="popup-messages-footer">

    <input [(ngModel)]="chatBox" name="chatBox" autocomplete="off" id="status_message" required placeholder="Type a message...">
    
    <button [disabled]="!sendMsg.form.valid" class="bg_none" type="submit">
      <i class="glyphicon glyphicon-send"></i>
    </button>
  
  </div>
</form>