.chat-outbox {
    float: left;
    border: 1px solid #eeeeee;
    color: #828282;
    border-radius: 15px;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
}
.chat-inbox {
    float: right;
    border: 1px solid transparent;
    background: #b5d6df;
    border-radius: 15px;
    color: #0d5777;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
}
.time {float: right;}

.name {
    font-size: 12px;
    color: #0d5777;
    font-weight: 600;
}
.btn-submit {
    position: absolute;
    top: 3px;
    right: 0;
}
